body {
    font-family: Arial, sans-serif;
    background-image: url('face-recognition-attendance-system.jpg'); 
    background-size: cover; 

    background-repeat: no-repeat; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.home-button {
    position: absolute; /* Positions the button absolutely */
    top: 20px; /* Distance from the top */
    left: 20px; /* Distance from the left */
    padding: 10px 15px;
    background-color: #99b4cf; /* Button color */
    color: rgb(243, 236, 236); /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* No underline */
    font-weight: bold; /* Bold text */
}

.home-button:hover {
    background-color: #27323d; 
}
.login-container {
    background: rgba(45, 44, 44, 0.8); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f2eded;
    
    border-radius: 4px;
}
h2 {
    color: white; 
    text-align: center; 
}
